.referencesTextSection {
  margin-bottom: 40px;
}

.referencesTextSection .subText {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.referencesListSection {
  background-color: #fafafa;
  padding: 40px 0 120px;
}

.referencesListSection .collapseList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.referencesListSection .collapseItem {
  width: 100%;
  min-height: 152px;
  border-radius: 10px;
  overflow: hidden;
  background: #ffffff;
  padding: 20px;
}

.referencesListSection .collapseItem.active {
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

.referencesListSection .collapseItem header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
}

.referencesListSection .collapseItem header figure {
  margin-right: 20px;
}

.referencesListSection .collapseItem header .cardHeaderContentTitle p,
.referencesListSection .collapseItem header .cardHeaderContentText p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}

.referencesListSection .collapseItem header .cardHeaderContentTitle p:nth-last-of-type(1),
.referencesListSection .collapseItem header .cardHeaderContentText p:nth-last-of-type(1) {
  margin-bottom: 0;
}

.referencesListSection .collapseItem header .cardHeaderContentTitle p b,
.referencesListSection .collapseItem header .cardHeaderContentText p b {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.referencesListSection .collapseItem header .cardHeaderContentTitle {
  margin-right: 70px;
}

.referencesListSection .collapseItem header .cardHeaderContentText p:first-of-type:before {
  content: ".";
  visibility: hidden;
}

.referencesListSection .collapseItem .hideBox {
  display: none;
  background-color: #ffffff;
}

.referencesListSection .collapseItem .hideBox article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px 20px 0;
  cursor: default;
  margin-left: 300px;
}

.referencesListSection .collapseItem .hideBox article p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.referencesListSection .collapseItem:hover {
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
  .referencesTextSection .container, .referencesListSection .container {
    width: calc(100% - 50px) !important;
  }
  .referencesListSection .collapseItem header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 2fr;
        grid-template-rows: 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .referencesListSection .collapseItem header figure {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / 2 / 3;
    margin-right: auto;
    margin-left: auto;
  }
  .referencesListSection .collapseItem header figure img {
    height: 90px;
  }
  .referencesListSection .collapseItem header .cardHeaderContentTitle {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
    margin-right: 0;
  }
  .referencesListSection .collapseItem header .cardHeaderContentText {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2 / 2 / 3 / 3;
  }
  .referencesListSection .collapseItem .hideBox article {
    margin-left: 0;
  }
}

@media (max-width: 1499px) {
  #background {
    z-index: 1;
  }
  .collapseItem,
  .subText,
  .titleSection {
    z-index: 2;
    position: relative;
  }
  .collapseList {
    padding: 0;
  }
}
/*# sourceMappingURL=references.css.map */