@import "../variables.scss";

.referencesTextSection {
  margin-bottom: 40px;
  .subText {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}
.referencesListSection {
  background-color: $lightGray2;
  padding: 40px 0 120px;
  .collapseList {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .collapseItem {
    width: 100%;
    min-height: 152px;
    border-radius: 10px;
    overflow: hidden;
    background: $white;
    padding: 20px;
    &.active {
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    }

    header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      cursor: pointer;
      figure {
        margin-right: 20px;
      }
      .cardHeaderContentTitle,
      .cardHeaderContentText {
        p {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 20px;
          &:nth-last-of-type(1) {
            margin-bottom: 0;
          }
          b {
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
      .cardHeaderContentTitle {
        margin-right: 70px;
      }
      .cardHeaderContentText {
        p:first-of-type {
          &:before {
            content: ".";
            visibility: hidden;
          }
        }
      }
    }
    .hideBox {
      display: none;
      background-color: $white;
      article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 20px 20px 0;
        cursor: default;
        margin-left: 300px;
        p {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: $default;
        }
      }
    }
    &:hover {
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    }
  }
}

// RESPONSIVE

@media (max-width: $breakpoints_mobile) {
  .referencesTextSection, .referencesListSection {
    .container {
      width: calc(100% - 50px) !important;
    }
  }
  .referencesListSection .collapseItem {
    header {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 2fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      figure {
        grid-area: 1 / 1 / 2 / 3;
        margin-right: auto;
        margin-left: auto;
        img{
          height: 90px;
        }
      }
      .cardHeaderContentTitle {
        grid-area: 2 / 1 / 3 / 2;
        margin-right: 0;
      }
      .cardHeaderContentText {
        grid-area: 2 / 2 / 3 / 3;
      }
    }
    .hideBox article {
      margin-left: 0;
    }
  }
}
@media (max-width: $breakpoints_desktop) {
  #background {
    z-index: 1;
  }
  .collapseItem,
  .subText,
  .titleSection {
    z-index: 2;
    position: relative;
  }
  .collapseList {
    padding: 0;
  }
}
