@import "../variables.scss";

.backgroundSection {
  position: relative;
  // z-index: -1; // ideiglenesen leszedve
  span {
    // LEFT
    &:nth-of-type(1) {
      position: absolute;
      width: 120px;
      height: 480px;
      left: -20px;
      top: 120px;
      transform: rotate(25deg);
      background-color: $white;
      filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.1));
    }
    &:nth-of-type(2) {
      position: absolute;
      width: 120px;
      height: 480px;
      background-color: $lightGray;
      left: -20px;
      transform: rotate(25deg);
      top: 600px;
    }
    // RIGHT
    &:nth-of-type(3) {
      position: absolute;
      width: 120px;
      height: 480px;
      background-color: $green;
      right: -20px;
      transform: rotate(-155deg);
      top: 120px;
    }
    &:nth-of-type(4) {
      position: absolute;
      width: 120px;
      height: 480px;
      background-color: $white;
      right: -20px;
      transform: rotate(-155deg);
      top: 600px;
      filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.1));
    }
  }
  @media (max-width: $breakpoints_desktop) {
    z-index: -1;
  }
  @media (max-width: $breakpoints_custom_1199) {
    span {
      &:nth-of-type(1) {
        width: 100px;
        height: 460px;
      }
      &:nth-of-type(2) {
        width: 100px;
        height: 460px;
      }
      &:nth-of-type(3) {
        width: 100px;
        height: 460px;
      }
      &:nth-of-type(4) {
        width: 100px;
        height: 460px;
      }
    }
  }
  @media (max-width: $breakpoints_tablet) {
    span {
      &:nth-of-type(1) {
        width: 80px;
        height: 440px;
      }
      &:nth-of-type(2) {
        width: 80px;
        height: 440px;
      }
      &:nth-of-type(3) {
        width: 80px;
        height: 440px;
      }
      &:nth-of-type(4) {
        width: 80px;
        height: 440px;
      }
    }
  }
}
