.backgroundSection {
  position: relative;
}

.backgroundSection span:nth-of-type(1) {
  position: absolute;
  width: 120px;
  height: 480px;
  left: -20px;
  top: 120px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  background-color: #ffffff;
  -webkit-filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.1));
}

.backgroundSection span:nth-of-type(2) {
  position: absolute;
  width: 120px;
  height: 480px;
  background-color: #e6e6e6;
  left: -20px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  top: 600px;
}

.backgroundSection span:nth-of-type(3) {
  position: absolute;
  width: 120px;
  height: 480px;
  background-color: #00c853;
  right: -20px;
  -webkit-transform: rotate(-155deg);
          transform: rotate(-155deg);
  top: 120px;
}

.backgroundSection span:nth-of-type(4) {
  position: absolute;
  width: 120px;
  height: 480px;
  background-color: #ffffff;
  right: -20px;
  -webkit-transform: rotate(-155deg);
          transform: rotate(-155deg);
  top: 600px;
  -webkit-filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.1));
}

@media (max-width: 1499px) {
  .backgroundSection {
    z-index: -1;
  }
}

@media (max-width: 1199px) {
  .backgroundSection span:nth-of-type(1) {
    width: 100px;
    height: 460px;
  }
  .backgroundSection span:nth-of-type(2) {
    width: 100px;
    height: 460px;
  }
  .backgroundSection span:nth-of-type(3) {
    width: 100px;
    height: 460px;
  }
  .backgroundSection span:nth-of-type(4) {
    width: 100px;
    height: 460px;
  }
}

@media (max-width: 999px) {
  .backgroundSection span:nth-of-type(1) {
    width: 80px;
    height: 440px;
  }
  .backgroundSection span:nth-of-type(2) {
    width: 80px;
    height: 440px;
  }
  .backgroundSection span:nth-of-type(3) {
    width: 80px;
    height: 440px;
  }
  .backgroundSection span:nth-of-type(4) {
    width: 80px;
    height: 440px;
  }
}
/*# sourceMappingURL=backgroundRectangle.css.map */