<section class="mainSection">
  <div class="container">
    <h1 class="title">Ipar 4.0 megoldásokat szállítunk</h1>
    <ul class="tasksList">
      <li>mérnöki szolgáltatás és tanácsadás</li>
      <li>kivitelezés</li>
      <li>gépgyártás</li>
    </ul>
  </div>
</section>

<section class="ourStorySection">
  <div class="container">
    <figure class="ourStoryImg">
      <img src="./assets/ourStory.png" alt="Our Story" />
    </figure>
    <article class="ourText">
      <h2 class="greenTitle">A Neckearth Kft.</h2>
      <p class="title">Történetünk</p>
      <p class="text">
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
        cubilia curae; Aenean facilisis varius faucibus. Etiam cursus, nulla at
        commodo gravida, justo libero faucibus orci, nec consequat tellus erat
        id metus. Suspendisse nec nibh felis.
      </p>
      <a class="btn">részletek</a>
    </article>
  </div>
</section>

<section class="processSection">
  <div class="container">
    <article class="processTextContainer">
      <h2 class="greenTitle">Szolgáltatások</h2>
      <p class="textWithColoredWord">
        A <span>teljes</span> folyamaton végigkísérjük
      </p>
    </article>
    <ul class="processCardsList">
      <li>
        <div class="processCard">
          <figure class="processImg">
            <img src="../../assets/card1.png" alt="card image" />
          </figure>
          <article class="processCardText">
            <p class="greenTitle">Neckearth Consulting</p>
            <h3 class="processCardTitle">Tanácsadás</h3>
          </article>
        </div>
      </li>
      <li>
        <div class="processCard">
          <figure class="processImg">
            <img src="../../assets/card2.png" alt="card image" />
          </figure>
          <article class="processCardText">
            <p class="greenTitle">Neckearth Engineering</p>
            <h3 class="processCardTitle">Kivitelezés</h3>
          </article>
        </div>
      </li>
      <li>
        <div class="processCard">
          <figure class="processImg">
            <img src="../../assets/card3.png" alt="card image" />
          </figure>
          <article class="processCardText">
            <p class="greenTitle">Neckearth Manufacturing</p>
            <h3 class="processCardTitle">Gépgyártás</h3>
          </article>
        </div>
      </li>
    </ul>
  </div>
</section>

<section class="partnerSection">
  <div class="container">
    <article class="partnerTextContainer">
      <h2 class="greenTitle">Partnerek</h2>
      <p class="textWithColoredWord">
        A legkülönbözőbb <span>iparágak</span> képviselőivel dolgozunk
      </p>
    </article>
  </div>
</section>
<section class="animatedLogosSection">
  <div class="moveLeft">
    <div>
      <img src="../../assets/mmsLogo.svg" alt="logo" />
      <img src="../../assets/mmsLogo.svg" alt="logo" />
      <img src="../../assets/mmsLogo.svg" alt="logo" />
      <img src="../../assets/mmsLogo.svg" alt="logo" />
      <img src="../../assets/mmsLogo.svg" alt="logo" />
      <img src="../../assets/mmsLogo.svg" alt="logo" />
      <img src="../../assets/mmsLogo.svg" alt="logo" />
      <img src="../../assets/mmsLogo.svg" alt="logo" />
    </div>
    <div>
      <img src="../../assets/mmsLogo.svg" alt="logo" />
      <img src="../../assets/mmsLogo.svg" alt="logo" />
      <img src="../../assets/mmsLogo.svg" alt="logo" />
      <img src="../../assets/mmsLogo.svg" alt="logo" />
      <img src="../../assets/mmsLogo.svg" alt="logo" />
      <img src="../../assets/mmsLogo.svg" alt="logo" />
      <img src="../../assets/mmsLogo.svg" alt="logo" />
      <img src="../../assets/mmsLogo.svg" alt="logo" />
    </div>
  </div>
  <div class="moveRight">
    <div>
      <img src="../../assets/mmsLogo.svg" alt="logo" />
      <img src="../../assets/mmsLogo.svg" alt="logo" />
      <img src="../../assets/mmsLogo.svg" alt="logo" />
      <img src="../../assets/mmsLogo.svg" alt="logo" />
      <img src="../../assets/mmsLogo.svg" alt="logo" />
      <img src="../../assets/mmsLogo.svg" alt="logo" />
      <img src="../../assets/mmsLogo.svg" alt="logo" />
      <img src="../../assets/mmsLogo.svg" alt="logo" />
    </div>
    <div>
      <img src="../../assets/mmsLogo.svg" alt="logo" />
      <img src="../../assets/mmsLogo.svg" alt="logo" />
      <img src="../../assets/mmsLogo.svg" alt="logo" />
      <img src="../../assets/mmsLogo.svg" alt="logo" />
      <img src="../../assets/mmsLogo.svg" alt="logo" />
      <img src="../../assets/mmsLogo.svg" alt="logo" />
      <img src="../../assets/mmsLogo.svg" alt="logo" />
      <img src="../../assets/mmsLogo.svg" alt="logo" />
    </div>
  </div>
</section>

<section class="contactSection">
  <div class="container">
    <h2 class="greenTitle">Kapcsolat</h2>
    <p class="contactText">Írjon és egyeztessünk időpontot!</p>
    <a class="btn">ugrás a térképre</a>
  </div>
</section>
