#header {
  height: 120px;
  z-index: 10;
}

#header .headerContent {
  margin: 0 auto;
  padding: 40px 0;
  max-width: 1280px;
  width: calc(100% - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .headerContent .logo {
  height: 40px;
}

#header .headerContent ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#header .headerContent ul li {
  margin-right: 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

#header .headerContent ul li .darkMode {
  height: 20px;
  width: 20px;
}

#header .headerContent ul li:nth-last-child(1) {
  margin-right: 0;
}

#header .headerContent .menu {
  cursor: pointer;
}

#header .headerContent .menu li {
  position: relative;
}

#header .headerContent .menu li:after {
  position: absolute;
  content: "";
  left: 0;
  top: -15px;
  height: 40px;
  width: 0px;
  border-bottom: solid 2px #008d3b;
  -webkit-transition: all 800ms ease-in-out;
  transition: all 800ms ease-in-out;
  opacity: 1;
}

#header .headerContent .menu li:last-of-type::after {
  border-bottom: 0;
}

#header .headerContent .menu li:hover:after {
  width: 100%;
}

@media (max-width: 999px) {
  #header .headerContent {
    margin: 0 auto 0 auto;
  }
  #header .headerContent .logo {
    height: 20px;
    margin-right: 30px;
  }
}

#header .offcanvas-menu {
  display: none;
}

#header .offcanvas-menu * {
  font-family: "Poppins";
  font-style: normal;
}

#header .offcanvas-menu .toggle-container {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

#header .offcanvas-menu .logo {
  height: 30px;
}

#header .offcanvas-menu > label {
  top: 30px;
  left: 30px;
  position: fixed;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .offcanvas-menu label {
  margin-right: 25px;
}

#header .offcanvas-menu label .noSpace {
  margin-top: 0;
}

#header .offcanvas-menu label span {
  margin-top: 10px;
}

#header .offcanvas-menu label span,
#header .offcanvas-menu label span::before,
#header .offcanvas-menu label span::after {
  -webkit-transition: background 0.3s, -webkit-transform 0.3s;
  transition: background 0.3s, -webkit-transform 0.3s;
  transition: background 0.3s, transform 0.3s;
  transition: background 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

#header .offcanvas-menu label span,
#header .offcanvas-menu label span::before,
#header .offcanvas-menu label span::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 30px;
  background: #b3b3b3;
}

#header .offcanvas-menu label span::before {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

#header .offcanvas-menu label span::after {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

#header .offcanvas-menu nav {
  position: fixed;
  height: 100%;
  left: -350px;
  width: 0;
  overflow: hidden;
  background: #fafafa;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  padding: 20px;
}

#header .offcanvas-menu nav > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .offcanvas-menu nav > ul {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .offcanvas-menu nav > ul li {
  cursor: pointer;
  padding: 10px 0;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  opacity: 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

#header .offcanvas-menu nav > ul li a {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  color: #000000;
  display: block;
}

#header .offcanvas-menu nav > ul li:hover {
  -webkit-animation: hover 0.5s;
          animation: hover 0.5s;
}

#header .offcanvas-menu input[type="checkbox"] {
  display: none;
}

#header .offcanvas-menu input[type="checkbox"]:checked ~ label {
  opacity: 0;
  pointer-events: none;
}

#header .offcanvas-menu input[type="checkbox"]:checked ~ nav {
  left: 0;
  width: 100%;
}

#header .offcanvas-menu input[type="checkbox"]:checked ~ nav label span {
  background: transparent;
}

#header .offcanvas-menu input[type="checkbox"]:checked ~ nav label span:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#header .offcanvas-menu input[type="checkbox"]:checked ~ nav label span:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#header .offcanvas-menu input[type="checkbox"]:checked ~ nav label span:before,
#header .offcanvas-menu input[type="checkbox"]:checked ~ nav label span:after {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

#header .offcanvas-menu input[type="checkbox"]:checked ~ nav ul li {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

#header .offcanvas-menu input[type="checkbox"]:checked ~ nav ul li:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

#header .offcanvas-menu input[type="checkbox"]:checked ~ nav ul li:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

#header .offcanvas-menu input[type="checkbox"]:checked ~ nav ul li:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

#header .offcanvas-menu input[type="checkbox"]:checked ~ nav ul li:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

#header .offcanvas-menu input[type="checkbox"]:checked ~ nav ul li:nth-child(5) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

#header .offcanvas-menu input[type="checkbox"]:checked ~ nav ul li:nth-child(6) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

#header .offcanvas-menu input[type="checkbox"]:checked ~ nav ul li:nth-child(7) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

@media (max-width: 767px) {
  #header {
    height: auto;
  }
  #header .offcanvas-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #header .headerContent {
    display: none;
  }
}
/*# sourceMappingURL=header.css.map */