@import "../variables.scss";

#header {
  height: 120px;
  z-index: 10;
  .headerContent {
    margin: 0 auto;
    padding: 40px 0;
    max-width: 1280px;
    width: calc(100% - 100px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      height: 40px;
    }
    ul {
      display: inline-flex;
      li {
        margin-right: 40px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        .darkMode {
          height: 20px;
          width: 20px;
        }
        &:nth-last-child(1) {
          margin-right: 0;
        }
      }
    }
    .menu {
      cursor: pointer;
      li {
        position: relative;
      }
      li:after {
        position: absolute;
        content: "";
        left: 0;
        top: -15px;
        height: 40px;
        width: 0px;
        border-bottom: solid 2px $darkModeGreen;
        transition: all 800ms ease-in-out;
        opacity: 1;
      }
      li:last-of-type::after {
        border-bottom: 0;
      }

      li:hover:after {
        width: 100%;
      }
    }
    @media (max-width: $breakpoints_tablet) {
      margin: 0 auto 0 auto;
      .logo {
        height: 20px;
        margin-right: 30px;
      }
    }
  }

  .offcanvas-menu {
    * {
      font-family: "Poppins";
      font-style: normal;
    }
    display: none;
    .toggle-container {
      padding: 20px;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .logo {
      height: 30px;
    }
    > label {
      top: 30px;
      left: 30px;
      position: fixed;
      width: 40px;
      height: 40px;
      cursor: pointer;
      transition: 0.3s ease;
      display: flex;
      align-items: center;
    }
    label {
      margin-right: 25px;
      .noSpace {
        margin-top: 0;
      }
      span {
        margin-top: 10px;
      }
      // margin-right: 40px;
      span,
      span::before,
      span::after {
        transition: background 0.3s, transform 0.3s;
      }
      span,
      span::before,
      span::after {
        content: "";
        position: absolute;
        height: 3px;
        width: 30px;
        background: darken($color: #fff, $amount: 30);
      }
      span::before {
        transform: translateY(-12px);
      }
      span::after {
        transform: translateY(12px);
      }
    }
    nav {
      position: fixed;
      height: 100%;
      left: -350px;
      width: 0;
      overflow: hidden;
      background: $lightGray2;
      transition: 0.3s ease;
      padding: 20px;
      > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      > ul {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;

        li {
          cursor: pointer;
          padding: 10px 0;
          transform: translateX(-30px);
          opacity: 0;
          transition: 0.4s ease;

          a {
            font-size: 20px;
            line-height: 1.5;
            font-weight: 400;
            color: $default;
            display: block;
          }

          &:hover {
            animation: hover 0.5s;
          }
        }
      }
    }

    input[type="checkbox"] {
      display: none;

      &:checked {
        ~ label {
          opacity: 0;
          pointer-events: none;
        }
        ~ nav {
          left: 0;
          width: 100%;
        }

        ~ nav label span {
          background: transparent;
        }
        ~ nav label span:before {
          transform: rotate(-45deg);
        }
        ~ nav label span:after {
          transform: rotate(45deg);
        }
        ~ nav label span:before,
        ~ nav label span:after {
          transition-delay: 0.2s;
        }

        ~ nav ul li {
          opacity: 1;
          transform: translateX(0px);
        }
        ~ nav ul li:nth-child(1) {
          transition-delay: 0.1s;
        }
        ~ nav ul li:nth-child(2) {
          transition-delay: 0.2s;
        }
        ~ nav ul li:nth-child(3) {
          transition-delay: 0.3s;
        }
        ~ nav ul li:nth-child(4) {
          transition-delay: 0.4s;
        }
        ~ nav ul li:nth-child(5) {
          transition-delay: 0.5s;
        }
        ~ nav ul li:nth-child(6) {
          transition-delay: 0.6s;
        }
        ~ nav ul li:nth-child(7) {
          transition-delay: 0.7s;
        }
      }
    }
  }
  @media (max-width: $breakpoints_mobile) {
    height: auto;
    .offcanvas-menu {
      display: flex;
    }
    .headerContent {
      display: none;
    }
  }
}
