@import "../variables.scss";
@import "../reset.scss";

body {
  font-family: "Poppins";
  font-style: normal;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  main {
    flex-grow: 1;
  }
  //dark Mode
  background-color: $darkModeForeground;
  color: inherit;
}
.btn {
  width: fit-content;
  height: 40px;
  padding: 10px 25px;
  background: $green;
  color: $white !important;
  border-radius: 8px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  &:hover {
    background-color: #00c853d1;
  }
}
a.btn {
  display: inline-block;
}

a:any-link {
  cursor: pointer;
  text-decoration: none !important;
  // color: $default;
}
a,
a:visited,
a:hover,
a:active {
  color: inherit;
}
.greenTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $green;
  margin-bottom: 10px;
}
.textWithColoredWord {
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  span {
    color: $green;
  }
}

.container {
  max-width: 1180px;
  width: calc(100% - 100px);
  margin: auto;
}

.titleSection {
  h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 40px;
  }
  .breadcrumb {
    display: flex;
    color: $black;
    font-family: "Poppins";
    font-style: normal;
    margin: 10px 0;
    list-style: none;
    li {
      display: inline;
      font-size: 18px;
    }
    li + li:before {
      padding: 8px;
      color: $green;
      content: "/\00a0";
    }
    li a:hover {
      color: $green;
      text-decoration: underline;
    }
  }
}

// DARK MODE
#logoLight,
#logoLightMobileHeader,
#logoLightMobileCanvas {
  display: block;
}
#logoDark,
#logoDarkMobileHeader,
#logoDarkMobileCanvas {
  display: none;
}

.dark-mode {
  background-color: $darkModeBackground;
  color: $darkModeForeground;
  #logoLight,
  #logoLightMobileCanvas,
  #logoLightMobileHeader {
    display: none !important;
  }
  #logoDark,
  #logoDarkMobileHeader,
  #logoDarkMobileCanvas {
    display: block !important;
  }
  .darkMode {
    // darkMode toggler
    filter: invert(1);
  }
  .backgroundSection {
    span {
      background-color: $darkModeGreen !important ;
      &:nth-of-type(1) {
        // Left top
        filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.247));
      }
      &:nth-of-type(4) {
        // Right bottom
        background-color: $darkModeGreen;
        filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.247));
      }
    }
  }
  .processCard {
    background-color: $darkModeBackground !important;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.247) !important;
    &:hover {
      box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.3) !important;
    }
  }
  .partnerSection,
  .animatedLogosSection,
  .referencesListSection,
  .tendersSection,
  .hideBox,
  .offCanvasMenu {
    background-color: $darkModeBackground !important;
  }
  .servicesCard,
  .collapseItem,
  .contactCard {
    background-color: $darkModeBackgroundGrey !important;
    &:hover {
      box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3) !important;
    }
  }
  h2,
  .breadcrumb > li > a,
  .cardContent,
  .offCanvasMenu > ul > li > a,
  p {
    color: $darkModeForeground !important;
  }
  .greenTitle {
    color: $darkModeGreen !important;
  }
  .btn {
    color: $darkModeForeground !important;
    background-color: $darkModeGreen;
    &:hover {
      background-color: $darkModeGreenHover !important;
    }
  }
  .tendersSection,
  .referencesListSection {
    .hideBox.opened {
      background-color: $darkModeBackgroundGrey !important;
    }
  }
  .mapImg {
    filter: invert(0.85);
  }
}

// RESPONSIVE

@media (max-width: $breakpoints_mobile) {
  .textWithColoredWord {
    font-size: 32px;
    line-height: 40px;
  }
  .titleSection {
    .container {
      width: calc(100% - 50px);
    }
    h2 {
      font-size: 32px;
      line-height: 40px;
    }
  }
}

@media (max-width: $breakpoints_desktop) {
  // block horizontal scroll on other devices
  html,
  body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }
}
