.contactTextSection {
  margin-bottom: 40px;
}

.contactTextSection .subText {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.contactSection {
  margin-bottom: 50px;
}

.contactSection h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 40px;
}

.contactSection .contactCardsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactSection .contactCardsList li .contactCard {
  margin: 10px;
  width: 380px;
  height: 184px;
  padding: 40px;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #ffffff;
  cursor: default;
  z-index: 2;
}

.contactSection .contactCardsList li .contactCard:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.contactSection .contactCardsList li .contactCard .contactCardImg {
  text-align: center;
  margin-bottom: 40px;
}

.contactSection .contactCardsList li .contactCard .contactCardImg.social img {
  -webkit-filter: invert(53%) sepia(41%) saturate(1620%) hue-rotate(106deg) brightness(94%) contrast(106%);
          filter: invert(53%) sepia(41%) saturate(1620%) hue-rotate(106deg) brightness(94%) contrast(106%);
}

.contactSection .contactCardsList li .contactCard .contactCardImg.social img:first-of-type {
  margin-right: 20px;
}

.contactSection .contactCardsList li .contactCard .contactCardImg img {
  height: 40px;
  width: 40px;
}

.contactSection .contactCardsList li .contactCard .contactCardText {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.mapSection {
  margin-bottom: 50px;
  padding: 10px;
}

.mapSection .map {
  position: relative;
}

.mapSection .map .mapImg {
  width: 100%;
}

.mapSection .map .markerImg {
  position: absolute;
  bottom: 100px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.mapSection .map .buttonsContainer {
  position: absolute;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.mapSection .map .buttonsContainer a:first-of-type {
  margin-right: 20px;
}

@media (max-width: 767px) {
  .contactTextSection .container,
  .contactSection .container {
    width: calc(100% - 50px) !important;
  }
  .contactCard {
    min-width: 250px;
  }
}

@media (max-width: 999px) {
  .buttonsContainer {
    top: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    min-width: 400px;
  }
}

@media (max-width: 1199px) {
  .markerImg {
    display: none;
  }
}

@media (max-width: 1499px) {
  .mapImg {
    width: 100%;
    min-height: 240px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .mapImg {
    overflow: hidden;
  }
  .contactSection .contactCardsList {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 499px) {
  .contactCard {
    width: calc(100vw - 50px) !important;
  }
}
/*# sourceMappingURL=contact.css.map */