@import "../variables.scss";

.contactTextSection {
  margin-bottom: 40px;
  .subText {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}
.contactSection {
  margin-bottom: 50px;
  h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 40px;
  }
  .contactCardsList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    li {
      .contactCard {
        margin: 10px;
        width: 380px;
        height: 184px;
        padding: 40px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        transition: all 0.2s ease-in-out;
        background-color: $white;
        cursor: default;
        z-index: 2;
        &:hover {
          transform: scale(1.05);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
          background-color: $white;
        }
        .contactCardImg {
          text-align: center;
          margin-bottom: 40px;
          &.social {
            img {
              // megegyezik a #00c853 színnel
              filter: invert(53%) sepia(41%) saturate(1620%) hue-rotate(106deg)
                brightness(94%) contrast(106%);
              &:first-of-type {
                margin-right: 20px;
              }
            }
          }
          img {
            height: 40px;
            width: 40px;
          }
        }
        .contactCardText {
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
        }
      }
    }
  }
}
.mapSection {
  margin-bottom: 50px;
  padding: 10px;
  .map {
    position: relative;
    .mapImg {
      width: 100%;
    }
    .markerImg {
      position: absolute;
      bottom: 100px;
      left: 50%;
      transform: translate(-50%, 0);
    }
    .buttonsContainer {
      position: absolute;
      bottom: 25px;
      left: 50%;
      transform: translate(-50%, 0);
      a:first-of-type {
        margin-right: 20px;
      }
    }
  }
}

// RESPONSIVE
@media (max-width: $breakpoints_mobile) {
  .contactTextSection,
  .contactSection {
    .container {
      width: calc(100% - 50px) !important;
    }
  }
  .contactCard {
    min-width: 250px;
  }
}
@media (max-width: $breakpoints_tablet) {
  .buttonsContainer {
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 400px;
  }
}
@media (max-width: $breakpoints_custom_1199) {
  .markerImg {
    display: none;
  }
}
@media (max-width: $breakpoints_desktop) {
  .mapImg {
    width: 100%;
    min-height: 240px;
    object-fit: cover;
  }
  .mapImg {
    overflow: hidden;
  }
  .contactSection {
    .contactCardsList {
      flex-wrap: wrap;
    }
  }
}
@media (max-width: 499px) {
  // egyedi a kis kártyák miatt
  .contactCard {
    width: calc(100vw - 50px) !important;
  }
}
