@import "../variables.scss";

.mainSection {
  text-align: center;
  margin: 200px auto;
  .container {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  }
  .title {
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    max-width: 780px;
    margin-bottom: 40px;
  }
  .tasksList {
    font-weight: 400;
    font-size: 16px;
    display: flex;
    text-align: center;
    max-width: 780px;
    justify-content: center;
    li {
      margin-right: 60px;
      display: flex;
      align-items: center;
      &::before {
        content: url("/assets/tick.svg");
        margin-right: 20px;
      }
      &:nth-last-child(1) {
        margin-right: 0;
      }
    }
  }
}
.ourStorySection {
  margin: 0 auto 120px auto;
  .container {
    display: flex;
    justify-content: space-between;
    .ourStoryImg {
      height: 100%;
      object-fit: cover;
      clip-path: polygon(15% 0, 100% 0, 100% 35%, 85% 100%, 0 100%, 0 65%);
    }
    .ourText {
      display: flex;
      flex-direction: column;
      margin-left: 100px;
      .btn {
        margin-top: auto;
      }
      .title {
        font-weight: 700;
        font-size: 48px;
        line-height: 72px;
      }
      .text {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 22px;
      }
    }
  }
}
.processSection {
  margin-bottom: 120px;
  .processTextContainer {
    margin: 0 auto 80px auto;
    max-width: 780px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  }
  .processCardsList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: calc(100% + 20px);
    li {
      width: calc(33.333333% - 20px);
      margin-right: 20px;
      .processCard {
        min-height: 380px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        transition: all 0.2s ease-in-out;
        background-color: $white;
        z-index: 2;
        cursor: default;
        &:hover {
          transform: scale(1.05);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
          background-color: $white;
        }
        .processImg {
          text-align: center;
          padding: 25px;
          img {
            object-fit: contain;
            width: 100%;
            height: 100%;
            clip-path: polygon(
              10% 0%,
              100% 0,
              100% 90%,
              90% 100%,
              0 100%,
              0 10%
            );
          }
        }
        .processCardText {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
        }
        .processCardTitle {
          font-weight: 700;
          font-size: 32px;
          line-height: 48px;
          text-align: center;
          margin: 0;
        }
      }
    }
  }
}
.partnerSection {
  padding-top: 310px;
  margin-top: -380px;
  background-color: $lightGray2;
  padding-bottom: 80px;
  .partnerTextContainer {
    max-width: 780px;
    margin: 0 auto;
  }
}
.animatedLogosSection {
  background-color: $lightGray2;
  margin-bottom: 60px;
  padding-bottom: 40px;
  .moveRight,
  .moveLeft {
    height: 90px;
    transform: translate3d(0, 0, 0);
    position: relative;

    div {
      position: absolute;
      width: max-content;
      &:nth-of-type(2) {
        opacity: 0;
      }
      &.animate {
        animation: slideShowLeft 60s linear infinite;
        &:nth-of-type(2) {
          animation-delay: -30s;
          // animation-delay: -10s;
          opacity: 0;
        }
      }
      img {
        height: 90px;
        margin: 0 10px 10px;
        display: inline-block;
      }

      // &:hover{
      //   animation-play-state: paused;
      // }
    }
  }
  .moveRight {
    margin-top: 20px;
    div.animate {
      animation-direction: reverse;
    }
  }
}
.contactSection {
  margin: 0 auto 80px;
  .container {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    .contactText {
      font-weight: 700;
      font-size: 48px;
      line-height: 72px;
      margin-bottom: 28px;
      max-width: 700px;
    }
  }
}

@keyframes slideShowRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slideShowLeft {
  0% {
    // left: 100%;
    transform: translateX(100%);
    opacity: 1;
  }
  100% {
    // left: -100%;
    transform: translateX(-100%);

    opacity: 1;
  }
}

//! RESPONSIVE DESIGN

@media (max-width: $breakpoints_mobile) {
  .mainSection {
    margin: 50px auto;
    .title {
      font-size: 32px !important;
      line-height: 40px !important;
    }
    .tasksList {
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      justify-content: center;
      min-width: 60vw;
      &::before {
        margin-right: 10px;
      }
      li {
        max-width: 60vw;
        padding: 10px;
        overflow-wrap: break-word;
      }
    }
    .container {
      flex-wrap: nowrap;
    }
  }
  .ourStorySection {
    margin-bottom: 70px;
    .container {
      gap: 20px;
    }
    .ourStoryImg {
      clip-path: unset !important;
      img {
        height: 250px;
      }
    }
    .ourText {
      margin-left: 0 !important;
    }
  }
  .processSection {
    margin-bottom: 70px;
    .processCard {
      width: 300px;
      min-height: 320px !important;
    }
    .processCardTitle {
      font-size: 24px !important;
    }
    .processCardText p {
      width: 150px;
      margin-left: auto;
      margin-right: auto;
    }
    .processCardsList {
      flex-direction: column;
      width: auto;
      align-items: unset;
      li {
        margin: 0 auto 20px auto !important;
        width: auto;
      }
    }
  }
  .contactSection {
    .contactText {
      font-size: 36px;
      line-height: 50px;
    }
  }
}
@media (max-width: $breakpoints_tablet) {
  .ourStorySection {
    .container {
      justify-content: center;
      flex-wrap: wrap;
    }
    .ourStoryImg {
      margin-bottom: 20px;
      img {
        height: 250px;
      }
    }
  }
  .processSection {
    .processCard {
      min-height: 300px !important;
    }
    .processCardTitle {
      font-size: 24px !important;
    }
    .processCardText p {
      width: 150px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .partnerSection {
    margin-top: -350px;
  }
}
@media (max-width: $breakpoints_custom_1199) {
  .mainSection {
    margin: 100px auto;
    .title {
      font-size: 48px;
      line-height: 60px;
    }
    .tasksList {
      li {
        margin-right: 20px;
        &::before {
          margin-right: 10px;
        }
      }
    }
  }
  .ourStorySection {
    .container {
      width: calc(90% - 100px);
    }
    .ourStoryImg {
      margin-top: auto;
      margin-bottom: auto;
      img {
        height: 200px;
      }
    }
    .ourText {
      margin-left: 40px;
    }
  }
  .processSection {
    .processCard {
      min-height: 350px !important;
    }
  }
  .partnerSection {
    margin-top: -320px;
  }
}
