.mainSection {
  text-align: center;
  margin: 200px auto;
}

.mainSection .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mainSection .title {
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  max-width: 780px;
  margin-bottom: 40px;
}

.mainSection .tasksList {
  font-weight: 400;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  max-width: 780px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainSection .tasksList li {
  margin-right: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainSection .tasksList li::before {
  content: url("/assets/tick.svg");
  margin-right: 20px;
}

.mainSection .tasksList li:nth-last-child(1) {
  margin-right: 0;
}

.ourStorySection {
  margin: 0 auto 120px auto;
}

.ourStorySection .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ourStorySection .container .ourStoryImg {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: polygon(15% 0, 100% 0, 100% 35%, 85% 100%, 0 100%, 0 65%);
          clip-path: polygon(15% 0, 100% 0, 100% 35%, 85% 100%, 0 100%, 0 65%);
}

.ourStorySection .container .ourText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 100px;
}

.ourStorySection .container .ourText .btn {
  margin-top: auto;
}

.ourStorySection .container .ourText .title {
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
}

.ourStorySection .container .ourText .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 22px;
}

.processSection {
  margin-bottom: 120px;
}

.processSection .processTextContainer {
  margin: 0 auto 80px auto;
  max-width: 780px;
}

.processSection .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.processSection .processCardsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% + 20px);
}

.processSection .processCardsList li {
  width: calc(33.333333% - 20px);
  margin-right: 20px;
}

.processSection .processCardsList li .processCard {
  min-height: 380px;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #ffffff;
  z-index: 2;
  cursor: default;
}

.processSection .processCardsList li .processCard:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.processSection .processCardsList li .processCard .processImg {
  text-align: center;
  padding: 25px;
}

.processSection .processCardsList li .processCard .processImg img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(10% 0%, 100% 0, 100% 90%, 90% 100%, 0 100%, 0 10%);
          clip-path: polygon(10% 0%, 100% 0, 100% 90%, 90% 100%, 0 100%, 0 10%);
}

.processSection .processCardsList li .processCard .processCardText {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.processSection .processCardsList li .processCard .processCardTitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  margin: 0;
}

.partnerSection {
  padding-top: 310px;
  margin-top: -380px;
  background-color: #fafafa;
  padding-bottom: 80px;
}

.partnerSection .partnerTextContainer {
  max-width: 780px;
  margin: 0 auto;
}

.animatedLogosSection {
  background-color: #fafafa;
  margin-bottom: 60px;
  padding-bottom: 40px;
}

.animatedLogosSection .moveRight,
.animatedLogosSection .moveLeft {
  height: 90px;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  position: relative;
}

.animatedLogosSection .moveRight div,
.animatedLogosSection .moveLeft div {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.animatedLogosSection .moveRight div:nth-of-type(2),
.animatedLogosSection .moveLeft div:nth-of-type(2) {
  opacity: 0;
}

.animatedLogosSection .moveRight div.animate,
.animatedLogosSection .moveLeft div.animate {
  -webkit-animation: slideShowLeft 60s linear infinite;
          animation: slideShowLeft 60s linear infinite;
}

.animatedLogosSection .moveRight div.animate:nth-of-type(2),
.animatedLogosSection .moveLeft div.animate:nth-of-type(2) {
  -webkit-animation-delay: -30s;
          animation-delay: -30s;
  opacity: 0;
}

.animatedLogosSection .moveRight div img,
.animatedLogosSection .moveLeft div img {
  height: 90px;
  margin: 0 10px 10px;
  display: inline-block;
}

.animatedLogosSection .moveRight {
  margin-top: 20px;
}

.animatedLogosSection .moveRight div.animate {
  animation-direction: reverse;
}

.contactSection {
  margin: 0 auto 80px;
}

.contactSection .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contactSection .container .contactText {
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 28px;
  max-width: 700px;
}

@-webkit-keyframes slideShowRight {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slideShowRight {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes slideShowLeft {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 1;
  }
}

@keyframes slideShowLeft {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .mainSection {
    margin: 50px auto;
  }
  .mainSection .title {
    font-size: 32px !important;
    line-height: 40px !important;
  }
  .mainSection .tasksList {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-content: center;
    min-width: 60vw;
  }
  .mainSection .tasksList::before {
    margin-right: 10px;
  }
  .mainSection .tasksList li {
    max-width: 60vw;
    padding: 10px;
    overflow-wrap: break-word;
  }
  .mainSection .container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .ourStorySection {
    margin-bottom: 70px;
  }
  .ourStorySection .container {
    gap: 20px;
  }
  .ourStorySection .ourStoryImg {
    -webkit-clip-path: unset !important;
            clip-path: unset !important;
  }
  .ourStorySection .ourStoryImg img {
    height: 250px;
  }
  .ourStorySection .ourText {
    margin-left: 0 !important;
  }
  .processSection {
    margin-bottom: 70px;
  }
  .processSection .processCard {
    width: 300px;
    min-height: 320px !important;
  }
  .processSection .processCardTitle {
    font-size: 24px !important;
  }
  .processSection .processCardText p {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }
  .processSection .processCardsList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  .processSection .processCardsList li {
    margin: 0 auto 20px auto !important;
    width: auto;
  }
  .contactSection .contactText {
    font-size: 36px;
    line-height: 50px;
  }
}

@media (max-width: 999px) {
  .ourStorySection .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .ourStorySection .ourStoryImg {
    margin-bottom: 20px;
  }
  .ourStorySection .ourStoryImg img {
    height: 250px;
  }
  .processSection .processCard {
    min-height: 300px !important;
  }
  .processSection .processCardTitle {
    font-size: 24px !important;
  }
  .processSection .processCardText p {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }
  .partnerSection {
    margin-top: -350px;
  }
}

@media (max-width: 1199px) {
  .mainSection {
    margin: 100px auto;
  }
  .mainSection .title {
    font-size: 48px;
    line-height: 60px;
  }
  .mainSection .tasksList li {
    margin-right: 20px;
  }
  .mainSection .tasksList li::before {
    margin-right: 10px;
  }
  .ourStorySection .container {
    width: calc(90% - 100px);
  }
  .ourStorySection .ourStoryImg {
    margin-top: auto;
    margin-bottom: auto;
  }
  .ourStorySection .ourStoryImg img {
    height: 200px;
  }
  .ourStorySection .ourText {
    margin-left: 40px;
  }
  .processSection .processCard {
    min-height: 350px !important;
  }
  .partnerSection {
    margin-top: -320px;
  }
}
/*# sourceMappingURL=main.css.map */