@import "../variables.scss";

.servicesCardSection {
  margin-bottom: 80px;
  .cardContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    .servicesCard {
      display: flex;
      gap: 40px;
      background-color: white;
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      padding: 40px;
      min-height: 375px;
      .servicesCardText {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .servicesCardTitle {
        font-weight: 700;
        font-size: 32px;
        line-height: 48px;
        margin: 10px 0;
      }
      .servicesImg {
        height: 100%;
        max-height: 300px;
        object-fit: cover;
      }
    }
  }
}

// RESPONSIVE

@media (max-width: $breakpoints_tablet) {
  .servicesCard {
    flex-direction: column;
    align-items: center;
    .servicesImg {
      margin-top: auto;
      margin-bottom: auto;
      img {
        width: 100%;
      }
    }
    .servicesCardText {
      gap: 20px;
    }
  }
}
@media (max-width: $breakpoints_mobile) {
  .servicesCard {
    flex-direction: column;
    align-items: center;
    padding: 0 !important;
    .servicesCardText {
      padding: 20px;
    }
    .btn {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .servicesCardSection .container {
    width: calc(100% - 50px);
  }
}
@media (max-width: 610px) {
  // egyedi a jelenlegi képméret miatt, ha cserélve lesznek normálisra akkor ezt átkell tenni a 767-es mediaquerybe
  .servicesImg {
    img {
      border-radius: 8px 8px 0 0;
    }
  }
}