@import "../variables.scss";

main {
  margin-bottom: 5rem;
}

.serviceItemGallery {
  .lSGallery {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    li {
      border-radius: 0 !important;
      margin-right: 10px !important;
      filter: grayscale(1);
      &:nth-last-of-type(1) {
        margin-right: 0 !important;
      }
      &.active {
        filter: grayscale(0);
      }
      img {
        width: 320px !important;
        height: 100% !important;
        object-fit: cover !important;
      }
    }
  }
  .lightSlider {
    li {
      img {
        width: 100%;
        height: 648px;
        object-fit: cover;
      }
    }
  }
  .lSPrev img {
    height: 50px;
    margin-left: 30px;
  }
  .lSNext img {
    height: 50px;
    margin-right: 30px;
    transform: rotate(180deg);
  }
}

.servicesItemSection {
  font-size: 16px;
  line-height: 24px;

  .boldText {
    font-weight: 700;
    margin-bottom: 20px;
  }
  .subText {
    font-weight: 400;
    margin-bottom: 20px;
    strong {
      font-weight: 700;
    }
  }
  h3 {
    font-weight: 700;
    font-size: 28px;
    margin: 30px 0;
  }
  ul {
    margin-left: 25px;
  }
  .listTypeDotted {
    list-style-type: inherit;
    margin-bottom: 20px;
  }
  .listTypeNumbered {
    margin-bottom: 20px;
    list-style-type: decimal;
  }
}

// RESPONSIVE

@media (max-width: $breakpoints_mobile) {
  .servicesItemSection {
    .container {
      width: calc(100% - 50px) !important;
      margin: auto !important;
    }
    p,
    h3,
    ul {
      width: auto !important;
      padding: 0 !important;
    }
  }
}

@media (max-width: $breakpoints_tablet) {
  .gallerySection {
    .container {
      margin: unset;
    }
    .lSSlideOuter {
      width: 100vw;
    }
    .lslide.active {
      width: 100vw !important;
    }
    .serviceItemGallery .lightSlider li img {
      height: 100%;
      width: 100vw;
    }
    .lSGallery {
      display: none;
    }
  }
  .servicesItemSection {
    .container {
      margin: 20px;
    }
    p,
    h3,
    ul {
      width: 96vw;
      padding: 10px;
      overflow-wrap: break-word;
    }
    ul {
      width: 85vw;
    }
  }
}
