main {
  margin-bottom: 5rem;
}

.serviceItemGallery .lSGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.serviceItemGallery .lSGallery li {
  border-radius: 0 !important;
  margin-right: 10px !important;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.serviceItemGallery .lSGallery li:nth-last-of-type(1) {
  margin-right: 0 !important;
}

.serviceItemGallery .lSGallery li.active {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.serviceItemGallery .lSGallery li img {
  width: 320px !important;
  height: 100% !important;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.serviceItemGallery .lightSlider li img {
  width: 100%;
  height: 648px;
  -o-object-fit: cover;
     object-fit: cover;
}

.serviceItemGallery .lSPrev img {
  height: 50px;
  margin-left: 30px;
}

.serviceItemGallery .lSNext img {
  height: 50px;
  margin-right: 30px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.servicesItemSection {
  font-size: 16px;
  line-height: 24px;
}

.servicesItemSection .boldText {
  font-weight: 700;
  margin-bottom: 20px;
}

.servicesItemSection .subText {
  font-weight: 400;
  margin-bottom: 20px;
}

.servicesItemSection .subText strong {
  font-weight: 700;
}

.servicesItemSection h3 {
  font-weight: 700;
  font-size: 28px;
  margin: 30px 0;
}

.servicesItemSection ul {
  margin-left: 25px;
}

.servicesItemSection .listTypeDotted {
  list-style-type: inherit;
  margin-bottom: 20px;
}

.servicesItemSection .listTypeNumbered {
  margin-bottom: 20px;
  list-style-type: decimal;
}

@media (max-width: 767px) {
  .servicesItemSection .container {
    width: calc(100% - 50px) !important;
    margin: auto !important;
  }
  .servicesItemSection p,
  .servicesItemSection h3,
  .servicesItemSection ul {
    width: auto !important;
    padding: 0 !important;
  }
}

@media (max-width: 999px) {
  .gallerySection .container {
    margin: unset;
  }
  .gallerySection .lSSlideOuter {
    width: 100vw;
  }
  .gallerySection .lslide.active {
    width: 100vw !important;
  }
  .gallerySection .serviceItemGallery .lightSlider li img {
    height: 100%;
    width: 100vw;
  }
  .gallerySection .lSGallery {
    display: none;
  }
  .servicesItemSection .container {
    margin: 20px;
  }
  .servicesItemSection p,
  .servicesItemSection h3,
  .servicesItemSection ul {
    width: 96vw;
    padding: 10px;
    overflow-wrap: break-word;
  }
  .servicesItemSection ul {
    width: 85vw;
  }
}
/*# sourceMappingURL=servicesItem.css.map */