.servicesCardSection {
  margin-bottom: 80px;
}

.servicesCardSection .cardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.servicesCardSection .cardContainer .servicesCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 40px;
  min-height: 375px;
}

.servicesCardSection .cardContainer .servicesCard .servicesCardText {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.servicesCardSection .cardContainer .servicesCard .servicesCardTitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  margin: 10px 0;
}

.servicesCardSection .cardContainer .servicesCard .servicesImg {
  height: 100%;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 999px) {
  .servicesCard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .servicesCard .servicesImg {
    margin-top: auto;
    margin-bottom: auto;
  }
  .servicesCard .servicesImg img {
    width: 100%;
  }
  .servicesCard .servicesCardText {
    gap: 20px;
  }
}

@media (max-width: 767px) {
  .servicesCard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 !important;
  }
  .servicesCard .servicesCardText {
    padding: 20px;
  }
  .servicesCard .btn {
    margin-left: auto;
    margin-right: auto;
  }
  .servicesCardSection .container {
    width: calc(100% - 50px);
  }
}

@media (max-width: 610px) {
  .servicesImg img {
    border-radius: 8px 8px 0 0;
  }
}
/*# sourceMappingURL=services.css.map */