@import "../variables.scss";

#footer {
  background: $gray;
  border-radius: 40px 40px 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $white;
  z-index: 2;
  padding-top: 30px;
  padding-bottom: 40px;
}
.footerTop {
  padding-bottom: 30px;
  figure {
    width: 100%;
  }
}
.footerBottom {
  ul {
    display: flex;
    justify-content: space-between;
    li {
      &:first-of-type {
        max-width: 480px;
      }
    }
  }
}
.footerMenu,
.footerOtherPages,
.footerContact {
  flex-direction: column;
  li {
    margin-bottom: 8px;
    &:nth-last-of-type(1) {
      margin-bottom: 0;
    }
  }
}
.socialNav {
  margin-top: 8px;
  a {
    margin-right: 20px;
    &:nth-last-of-type(1) {
      margin-right: 0;
    }
  }
}

@media (max-width: $breakpoints_mobile) {
  .footerBottom .mainFooterList {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 25px;
  }
}
