#footer {
  background: #333333;
  border-radius: 40px 40px 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  z-index: 2;
  padding-top: 30px;
  padding-bottom: 40px;
}

.footerTop {
  padding-bottom: 30px;
}

.footerTop figure {
  width: 100%;
}

.footerBottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footerBottom ul li:first-of-type {
  max-width: 480px;
}

.footerMenu,
.footerOtherPages,
.footerContact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footerMenu li,
.footerOtherPages li,
.footerContact li {
  margin-bottom: 8px;
}

.footerMenu li:nth-last-of-type(1),
.footerOtherPages li:nth-last-of-type(1),
.footerContact li:nth-last-of-type(1) {
  margin-bottom: 0;
}

.socialNav {
  margin-top: 8px;
}

.socialNav a {
  margin-right: 20px;
}

.socialNav a:nth-last-of-type(1) {
  margin-right: 0;
}

@media (max-width: 767px) {
  .footerBottom .mainFooterList {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 25px;
  }
}
/*# sourceMappingURL=footer.css.map */