// Breakpoints

$breakpoints_desktop: "1499px";
$breakpoints_tablet: "999px";
$breakpoints_mobile: "767px";
$breakpoints_custom_1199: "1199px";

// Colors

$default: #000000;
$black: #1a1a1a;
$green: #00c853;
$gray: #333333;
$white: #ffffff;
$lightGray: #e6e6e6;
$lightGray2: #fafafa;

//DarkMode

$darkModeBackground: #1b1b1b;
$darkModeBackgroundGrey: #3b3838;
$darkModeForeground: $white; 
$darkModeGray: #ccc;
$darkModeGreen: #008d3b;
$darkModeGreenHover: #008d3bd6;
