@import "../variables.scss";

.tendersSection {
  background-color: $lightGray2;
  padding: 40px 0 120px;
  .collapseList {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .collapseItem {
    width: 100%;
    min-height: 314px;
    border-radius: 10px;
    overflow: hidden;
    background: $white;
    padding: 40px;
    position: relative;
    &.active {
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    }
    header {
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
    }
    .tenderLogo {
      position: absolute;
      right: 0;
      bottom: 0;
    }
    .hideBox {
      display: none;
      margin-top: 20px;
      background-color: $white;
      article {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        cursor: default;
      }
    }
    h3 {
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 48px;
      margin-bottom: 20px;
    }
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 20px;
      color: $default;
      &:nth-last-of-type(1) {
        margin-bottom: 0;
      }
      b {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
      }
    }
    ul {
      margin: 0 0 20px 25px;
      li {
        list-style-type: disc;
        line-height: 24px;
      }
    }
    &:hover {
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    }
  }
}

@media (max-width: $breakpoints_mobile) {
  .tendersSection {
    .container {
      width: calc(100% - 50px);
    }
    .collapseList {
      width: 85vw;
    }
    .collapseItem {
      padding: 20px;
      min-height: 475px;
      p {
        display: grid;
      }
      h3 {
        font-size: 24px;
        line-height: 30px;
      }
      .hideBox.opened {
        margin-bottom: 130px;
      }
    }
  }
}
