.tendersSection {
  background-color: #fafafa;
  padding: 40px 0 120px;
}

.tendersSection .collapseList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.tendersSection .collapseItem {
  width: 100%;
  min-height: 314px;
  border-radius: 10px;
  overflow: hidden;
  background: #ffffff;
  padding: 40px;
  position: relative;
}

.tendersSection .collapseItem.active {
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

.tendersSection .collapseItem header {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.tendersSection .collapseItem .tenderLogo {
  position: absolute;
  right: 0;
  bottom: 0;
}

.tendersSection .collapseItem .hideBox {
  display: none;
  margin-top: 20px;
  background-color: #ffffff;
}

.tendersSection .collapseItem .hideBox article {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: default;
}

.tendersSection .collapseItem h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 20px;
}

.tendersSection .collapseItem p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
  color: #000000;
}

.tendersSection .collapseItem p:nth-last-of-type(1) {
  margin-bottom: 0;
}

.tendersSection .collapseItem p b {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.tendersSection .collapseItem ul {
  margin: 0 0 20px 25px;
}

.tendersSection .collapseItem ul li {
  list-style-type: disc;
  line-height: 24px;
}

.tendersSection .collapseItem:hover {
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
  .tendersSection .container {
    width: calc(100% - 50px);
  }
  .tendersSection .collapseList {
    width: 85vw;
  }
  .tendersSection .collapseItem {
    padding: 20px;
    min-height: 475px;
  }
  .tendersSection .collapseItem p {
    display: -ms-grid;
    display: grid;
  }
  .tendersSection .collapseItem h3 {
    font-size: 24px;
    line-height: 30px;
  }
  .tendersSection .collapseItem .hideBox.opened {
    margin-bottom: 130px;
  }
}
/*# sourceMappingURL=tenders.css.map */